.button {
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  min-width: 140px;
  font-family: Avenir-Heavy;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  padding: 0%;

  &-primary {
    background: #267DF7;
  }

  &-normal {
    border: 1px solid #fff;
  }

  &-secondary {
    border: 1px solid #267DF7;
    color: #267DF7;
  }

  &-secondary:hover {
    color: #fff;
    background-color: #267DF7;
  }

  &-free {
    color: #fff;
    background-color: #267DF7;
  }
}