---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogTop from "@components/markdownSet/BlogTop.astro";
import Footer from "@components/common/Footer.astro";
import BlogContent from "@components/markdownSet/BlogContent.astro"
import { BLOG_CATEGORY } from "src/consts";
import { useTranslations } from '@i18n/util';
const t = useTranslations(Astro);

const blogCategories = new Set(BLOG_CATEGORY.map(item => item.type));

const posts = await getCollection("blog", (item) => blogCategories.has(item.data.category));


const sortedPosts = posts.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());
const recentPosts = sortedPosts.slice(0, 4);

const categoryPosts = BLOG_CATEGORY.map(item => ({
  posts: item.type === "all" ? sortedPosts : sortedPosts.filter(post => post.data.category === item.type),
  ...item,
}));


---

<BaseLayout
  title={t("page.blog.card.nacos")}
  description={t("blog.activity.explore")}
>
  <div class="w-full flex flex-col items-center">
    <!-- 博客观察：在云原生时代导航微服务。 -->
    <BlogTop
      title="Blog Insights:Navigating Microservices in the Cloud-Native Era."
      title={t("commmon.header.comm.blog")}
      source="blog"
      type="home"
      category={BLOG_CATEGORY}
    />
    <BlogContent source="blog" recentPosts={recentPosts} categoryPosts={categoryPosts} />
    <Footer />
  </div>
</BaseLayout>
<style>
  main {
    width: 960px;
  }
</style>

