@import '../../variables.scss';

.bar {
  margin-top: $headerHeight;
  background-image: linear-gradient(-90deg, $startColor 0%, $intermediateColor 51%, $endColor 100%);
  .bar-body {
    max-width: $contentWidth;
    margin: 0 auto;
    height: $barHeight;
    line-height: $barHeight;
    font-family: Avenir-Heavy;
    font-size: 36px;
    color: #FFF;
    position: relative;
    .bar-title {
      display: inline-block;
      line-height: 1;
      .bone {
        margin-top: 6px;
      }
    }
    .front-img {
      width: 80px;
      height: 80px;
      vertical-align: middle;
      margin: 0 28px 0 40px;
    }
    .back-img {
      width: 160px;
      height: 160px;
      position: absolute;
      right: 168px;
      bottom: 0;
      opacity: 0.15;
    }
    @media screen and (max-width: $mobileWidth){
      .front-img {
        margin-left: 20px;
      }
    }
  }
}