@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dash {
  to {
    stroke-dashoffset: -30;
  }
}

@keyframes bounce {

  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-6px);
  }

  75% {
    transform: translateY(-6px);
  }
}

/* TODO: 设置移动端时为图片样式 */
#overview-image-root {
  height: auto;
  width: 85.125rem;

  @media (max-width: 50rem) {
    padding: 1.5rem;
    width: 100%;
  }

  /* 大于50rem 小于 72rem  800px < width < 1152 */
  @media (min-width: 50rem) and (max-width: 86rem) {
    padding: 2.5rem;
    width: 100%;
  }
}