---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "@components/markdownSet/MarkdownDetail.astro";
import TocComponent from "@components/markdownSet/TocComponents/TocComponent.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import SubHeading from "@components/markdownSet/SubHeading.astro";
import { NEWS_CATEGORY } from "src/consts";
import { useTranslations } from '@i18n/util';
const t = useTranslations(Astro);

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BaseLayout align="docs" title="Nacos Blog">
	<SubHeading
		align="detail"
		headings={headings}
		categories={NEWS_CATEGORY}
		title={t("commmon.header.comm.event")}
		href="/news/"
	/>
	<div>
		<div
			class="w-full 2xl:w-[75%] xl:w-[75%] lg:w-[75%] md:w-[75%] inline-block"
		>
			<BlogPost {...post.data}>
				<Content />
			</BlogPost>
		</div>
		<div
			class="right-sidebar-panel w-[25%] fixed h-full hidden 2xl:inline-block xl:inline-block lg:inline-block md:inline-block"
		>
			<TocComponent headings={headings} />
		</div>
	</div>
</BaseLayout>

<style>
	.right-sidebar-panel {
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 1rem var(--sl-sidebar-pad-x);
	}
	.right-sidebar-panel :global(h2) {
		color: var(--sl-color-white);
		font-size: var(--sl-text-h5);
		font-weight: 600;
		line-height: var(--sl-line-height-headings);
		margin-bottom: 0.5rem;
	}
	.right-sidebar-panel :global(a) {
		display: block;
		font-size: var(--sl-text-xs);
		text-decoration: none;
		color: var(--sl-color-gray-3);
		overflow-wrap: anywhere;
	}
	.right-sidebar-panel :global(a:hover) {
		color: var(--sl-color-white);
	}
</style>
