@import '../../../css/variables.scss';
.msemap-section{
  h3{
    font-family: Avenir-Medium;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
  }
  .bone {
    margin: 0 auto 45px;
  }

}