---
import { useTranslations } from "@i18n/util";
const t = useTranslations(Astro);
---

<explore-features class="explore-features block bg-gary-02 p-10">
  <div class="top-title w-full flex flex-col items-center mb-20 mt-16">
    <span class="text-gray-10 text-xs mb-6">{t('home.features.about')}</span>
    <span class="title text-gray-14 text-4xl font-medium">{t('home.features.title')}</span>
  </div>

  <div class="bottom-features w-full">
    <div class="w-full flex flex-wrap justify-center">
      <div class="dynamic relative item flex flex-col items-center cursor-pointer bg-gray-03 rounded-3xl p-6">
        <div class="w-full text-gray-09 text-xs">{t('home.features.1.title')}</div>
        <div class="w-full title text-gray-15 text-2xl mt-4">
          {t('home.features.1.summary')}
        </div>
        <svg class="mt-14 text-center" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="200" height="200" viewBox="0 0 200 200"><g><g><ellipse cx="77.17391204833984" cy="122.82608413696289" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="83.69565105438232" cy="116.3043441772461" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="90.2173900604248" cy="109.78260803222656" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="96.73912811279297" cy="103.26086807250977" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="103.26086807250977" cy="96.73912811279297" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="109.78260803222656" cy="90.2173900604248" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="116.3043441772461" cy="83.69565105438232" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="122.82608413696289" cy="77.17391204833984" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g></g></svg>
        <div class="hover-title text-gray-08 text-sm mt-10 line-clamp-3">
          {t('home.features.1.explain')}
        </div>
      </div>

      <div class="transfrom-split w-4"></div>
      <div class="discovery relative item flex flex-col items-center cursor-pointer bg-blue-08 rounded-3xl p-6">
        <span class="w-full text-blue-03 text-xs">{t('home.features.2.title')}</span>
        <div class="w-full title text-blue-01 text-2xl mt-4">
          {t('home.features.2.summary')}
        </div>
        <svg class="mt-14 text-center" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="200" height="200" viewBox="0 0 200 200"><defs><clipPath id="master_svg0_3_24"><rect x="0" y="0" width="200" height="200" rx="0"/></clipPath></defs><g clip-path="url(#master_svg0_3_24)"><g><g><g><g><line x1="0.121337890625" y1="99.67515754699707" x2="199.87857055664062" y2="99.67515754699707" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.9805819988250732,0.1961095929145813,-0.1961095929145813,-0.9805819988250732,411.4689752522851,118.96810812643662)"><line x1="199.8446044921875" y1="79.35508918762207" x2="403.55755615234375" y2="79.35508918762207" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.928475558757782,0.37139344215393066,-0.37139344215393066,-0.928475558757782,407.57857465668394,41.28153783774849)"><line x1="199.814208984375" y1="59.38731575012207" x2="414.9595947265625" y2="59.38731575012207" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.8574942350387573,0.5144935846328735,-0.5144935846328735,-0.8574942350387573,391.6494641471156,-28.627330521469275)"><line x1="199.78936767578125" y1="39.42637825012207" x2="432.7439727783203" y2="39.42637825012207" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.7808727622032166,0.6246901154518127,-0.6246901154518127,-0.7808727622032166,368.2359571240496,-89.24338207702942)"><line x1="199.770263671875" y1="19.46275520324707" x2="455.5830383300781" y2="19.46275520324707" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.7071067690849304,0.7071067690849304,-0.7071067690849304,-0.7071067690849304,341.00400179890437,-141.25070492102952)"><line x1="199.7559814453125" y1="-0.5011119842529297" x2="482.25537109375" y2="-0.5011119842529297" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g></g><g><g transform="matrix(0,1,-1,0,99.94980964064598,-99.70684090256691)"><line x1="99.82832527160645" y1="-0.3785156309604645" x2="299.58555793762207" y2="-0.3785156309604645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.1961095929145813,0.9805819988250732,-0.9805819988250732,0.1961095929145813,64.34706852831971,-78.17943261751596)"><line x1="79.8549976348877" y1="-0.3445800840854645" x2="283.56794929504395" y2="-0.3445800840854645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.37139344215393066,0.928475558757782,-0.928475558757782,0.37139344215393066,37.81810191324861,-55.48688575136858)"><line x1="59.887163162231445" y1="-0.3140625059604645" x2="275.03254890441895" y2="-0.3140625059604645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.5144935846328735,0.8574942350387573,-0.8574942350387573,0.5144935846328735,19.56502329665152,-34.134262770197864)"><line x1="39.926225662231445" y1="-0.2894043028354645" x2="272.8808307647705" y2="-0.2894043028354645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.6246901154518127,0.7808727622032166,-0.7808727622032166,0.6246901154518127,7.67174002626866,-15.502118337509733)"><line x1="19.962785720825195" y1="-0.2701171934604645" x2="275.7755603790283" y2="-0.2701171934604645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.7071067690849304,0.7071067690849304,-0.7071067690849304,0.7071067690849304,0.17219404631517143,0.07237271937621692)"><line x1="-0.0012645721435546875" y1="-0.2559570372104645" x2="282.49812507629395" y2="-0.2559570372104645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g></g></g></g></g></svg>
        <div class="hover-title text-blue-05 text-sm mt-10 line-clamp-3">
          {t('home.features.2.explain')}
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-4">
      <div class="dns black-item flex flex-col justify-between cursor-pointer bg-gray-14 rounded-3xl p-6">
        <span class="w-full text-gray-03 text-xs">{t('home.features.3.title')}</span>
        <div class="relative">
          <div class="title text-gray-02 text-2xl">
            {t('home.features.3.summary')}
          </div>
          <div class="hover-title w-1/2 text-gray-04 text-sm">
            {t('home.features.3.explain')}
          </div>
        </div>
      </div>
    </div>
  </div>

</explore-features>

<script>
class ExploreFeatures extends HTMLElement {
  constructor() {
    super();

  }
}
customElements.define("explore-features", ExploreFeatures);
</script>


<style>
  .item {
    width: 31.25rem;
    height: 31.25rem;
    overflow: hidden;
  }

  .black-item {
    width: 63.5rem;
    /* 给固定高度防止给固定高度防止hover时高度发生变化抖动 */
    height: 14rem;
  }
  .item .hover-title {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    opacity: 0;
    transition: opacity 0.8s ease-in-out; /* 动画效果 */
  }
  .item svg {
    transition: transform 0.8s;
  }
  .item:hover svg {
    margin-top: 2.5rem;
    transform: scale(0.8, 0.8);
  }
  .item:hover .hover-title {
    opacity: 1;
  }
  .black-item .hover-title {
    opacity: 0;
    transition: opacity 0.8s ease-in-out; /* 动画效果 */
  }
  .black-item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.8s ease-in-out; /* 动画效果 */
  }
  .black-item:hover .title {
    opacity: 0;
  }
  .black-item:hover .hover-title {
    opacity: 1;
  }

  /* 小于50rem  小于 800px */
@media (max-width: 50rem) { 
  .explore-features {
    padding: 1.5rem;
  }
  .top-title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .top-title .title {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
  .bottom-features div:first-child {
    flex-direction: column;
    align-items: center;
  }
  .bottom-features .transfrom-split {
    width: 100%;
    height: 1rem;
  }
  .bottom-features .item {
    width: 100%;
    height: 20rem;
  }
  .bottom-features .black-item {
    width: 100%;
    height: auto;
  }
  .bottom-features .item .title {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .bottom-features .item .hover-title {
    opacity: 1;
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    margin-top: 1.5rem;
  }
  .bottom-features .item svg {
    margin-top: 1rem;
    transform: scale(0.8, 0.8);
    width: 7.5rem;
    height: 7.5rem;
  }
  .bottom-features .black-item .title {
    opacity: 0;
  }
  .bottom-features .black-item .hover-title {
    opacity: 1;
    width: 100%;
    margin-top: 1.5rem;
  }
  
}


/* 大于50rem 小于 72rem  800px < width < 1152 */
@media (min-width: 50rem) and (max-width: 72rem) { 
  .bottom-features .transfrom-split {
    height: 100%;
    width: 1rem;
  }
  .bottom-features .item {
    /* width: 31.25rem; */
    flex: 1;
    height: 31.25rem;
  }
  .bottom-features .black-item {
    width: 100%;
    height: 16rem;
  }
  .bottom-features .black-item .hover-title {
    width: 100%;
  }
}

</style>