---
import { useTranslations, isChinese } from "@i18n/util";
import StarAndFork from "./StarAndFork.astro";
import UpRight from "../icon/UpRight.astro";
import Button from "@components/common/Button.astro";
import HomeBackground from "../home/HomeBackground.astro";

const t = useTranslations(Astro);
const ifzh = isChinese(Astro);
---

<span class="home-introduce-wrapper">
  <home-introduce
    class="introduce flex flex-col justify-center items-center bg-gray-14"
  >
    <div class="top-section flex flex-col relative">
      <HomeBackground />
      <div class="introduce_about pt-6 pb-4 text-gray-08 text-xs mt-[2.375rem]">
        {t("home.introduce.about")}
      </div>
      <div
        class=`title leading-[5rem] text-gray-03 mb-8 ${ifzh ? 'text-[3.75rem]' : 'text-[4rem]'}`
      >
        {t("home.introduce.title")}
      </div>
      <StarAndFork />
      <div class="notes mt-16 text-gray-07 text-xs flex justify-between">
        <div>
          <a
            class="mr-2.5 text-blue-03"
            href="https://github.com/alibaba/nacos/releases/tag/2.3.0 "
            target="_blank"
          >
            <span class="pc-version-intro"
              >{t("home.introduce.nacos.release.note.1")}</span
            >
            <span class="mobile-version-intro"
              >{t("home.introduce.nacos.release.note.1.mobile")}</span
            >
          </a>
           |
          <a
            class="ml-2.5 text-blue-03"
            href="https://github.com/alibaba/nacos/releases/tag/1.4.6"
            target="_blank"
          >
            <span class="pc-version-intro"
              >{t("home.introduce.nacos.release.note.2")}</span
            >
            <span class="mobile-version-intro"
              >{t("home.introduce.nacos.release.note.2.mobile")}</span
            >
          </a>
        </div>
        <span>{t("home.introduce.nacos.notes")}</span>
      </div>
    </div>

    <div class="bottom-section flex mb-[2.6875rem] mt-[0.875rem]">
      <div
        class="desc overflow-hidden relative mr-4 rounded-2xl p-6 text-blue-03 text-sm cursor-pointer"
      >
        <UpRight class="arrow absolute top-6 right-6" theme="light" />

        <div class="text opacity-0">
          <div>{t("home.introduce.nacos.define")}</div>
          <div class="mt-4">{t("home.introduce.nacos.aim")}</div>
        </div>
        <div
          class="text-gray-02 text-xs tracking-[0.15em] absolute bottom-6 left-6"
        >
          {t("home.introduce.about")}
        </div>
      </div>

      <div class="log relative rounded-2xl">
        <video
          loop
          muted
          preload="true"
          height="360px"
          width="100%"
          autoplay="autoplay"
          src="/introduce-log.webm"
          poster="https://img.alicdn.com/imgextra/i3/O1CN01vHOGD81eElpZJpRYk_!!6000000003840-0-tps-1600-900.jpg"
          class="nacos-log object-cover rounded-2xl cursor-pointer"></video>
      </div>
    </div>

    <!-- <div class="mobile-bottom-section hidden w-full flex py-6">
    <LinkButton
      href="https://github.com/alibaba/nacos"
      title=""
      class='btn-primary'
      arrowTheme="light"
    >
      <Star />
      <div class="w-px h-full bg-blue-07 opacity-20 mx-2"></div>
      <span>{startCount}</span>
    </LinkButton>
    <LinkButton
      href="https://github.com/alibaba/nacos/fork"
      title=""
      arrowTheme="light"
      class='btn-primary'
    >
      <Fork  theme="light"/>
      <div class="w-px h-full bg-blue-07 opacity-20 mx-2"></div>
      <span>{forkCount}</span>
    </LinkButton>
  </div> -->
  </home-introduce>
</span>

<script>
  class Introduce extends HTMLElement {
    constructor() {
      super();
    }
  }
  customElements.define("home-introduce", Introduce);
</script>

<style is:global>
  .home-introduce-wrapper {
    a {
      text-decoration: inherit;
      color: theme("colors.blue.08");
    }
    .introduce {
      min-height: calc(100vh - 4rem);
    }
    .top-section {
      width: 85.125rem;
      overflow: hidden;
      /* border-bottom: 1px solid theme('colors.gray.12'); */
    }
    .top-section .notes .pc-version-intro {
      display: inline;
    }
    .top-section .notes .mobile-version-intro {
      display: none;
    }
    .top-section .shortcut button {
      height: 3rem;
      min-height: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .bottom-section {
      width: 85.125rem;
    }
    .bottom-section .nacos-log {
      object-fit: cover;
      transition: transform 0.8s;
    }
    .bottom-section .nacos-log:hover {
      transform: scale(1.1);
    }
    .bottom-section .desc {
      width: 9.75rem;
      height: 22.5rem;
      background-color: theme("colors.blue.08");
      transition: width 0.8s;
    }

    .bottom-section .desc .text {
      opacity: 0;
      transition: opacity 0.8s;
    }
    .bottom-section .log {
      flex: 1;
      display: flex;
      position: relative;
      overflow: hidden;
      transition: width 0.8s;
    }
    .bottom-section .desc:hover {
      width: 31.25rem;
    }
    .bottom-section .desc:hover .log {
      flex: 1;
    }
    .bottom-section .desc:hover .text {
      opacity: 1;
    }
    .bottom-section .desc:hover .arrow {
      display: none;
    }
    .divider-horizontal {
      width: 1px;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    a {
      text-decoration: none;
    }
    .fork {
      background: rgba(244, 244, 246, 0.2);
      backdrop-filter: blur(36px);
    }
    .fork:hover {
      background: rgba(244, 244, 246, 0.2) !important;
      backdrop-filter: blur(36px);
    }

    /* 小于50rem  小于 800px */
    @media (max-width: 50rem) {
      .introduce {
        min-height: 0;
        padding: 1.5rem;
      }
      .top-section {
        width: 100%;
      }
      .top-section .title {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
      .top-section .notes .pc-version-intro {
        display: none;
      }
      .top-section .notes .mobile-version-intro {
        display: inline;
      }
      .top-section .shortcut button {
        height: 2rem;
        min-height: 2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
      .introduce_about {
        margin-top: 0rem;
      }
      .top-section .notes {
        margin-top: 1.25rem;
      }
      .bottom-section {
        width: 100%;
        display: none !important;
      }
      .mobile-bottom-section {
        display: block !important;
      }
      .mobile-bottom-section .btn:hover {
        background-color: theme(colors.gray.13) !important;
      }
    }

    /* 大于50rem 小于 72rem  800px < width < 1440 */
    @media (min-width: 50rem) and (max-width: 86rem) {
      .introduce {
        padding: 2.5rem;
      }
      .top-section,
      .bottom-section {
        width: 100%;
      }
      .top-section .notes .pc-version-intro {
        display: none;
      }
      .top-section .notes .mobile-version-intro {
        display: inline;
      }
      .bottom-section .desc div {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }
  }
</style>
