---
import Star from "../icon/Star.astro";
import Fork from "../icon/Fork.astro";
import Button from '@components/common/Button.astro';
---

<star-and-fork class="shortcut flex">
  <Button 
    size="large"
    class="rounded-3xl mr-4"
    href="https://github.com/alibaba/nacos"
    target="_blank"
  >
    <Star />
    <span class="text-[0.875rem] leading-4 ml-2 start-count">0</span>
  </Button>

  <Button 
    size="large"
    type="primary"
    class="rounded-3xl"
    href="https://github.com/alibaba/nacos/fork"
    target="_blank"
  >
    <Fork theme="light" />
    <span class="ml-2 fork-count">0</span>
  </Button>
</star-and-fork>

<script>
  import request from "@/utils/request"

  class StarAndFork extends HTMLElement {
    constructor() {
      super();
      const startCount = this.querySelector('.start-count')
      const forkCount = this.querySelector('.fork-count')
      request("https://api.github.com/repos/alibaba/nacos", 'starAndFork').then(res => {
        startCount.innerText = res.stargazers_count || 0
        forkCount.innerText = res.forks_count || 0
      })
    }
  }
  customElements.define("star-and-fork", StarAndFork);
</script>