---
import Star from "../icon/Star.astro";
import Fork from "../icon/Fork.astro";
import Button from '@components/common/Button.astro';

const data = await fetch("https://api.github.com/repos/alibaba/nacos").then(
  (r) => r.json()
);
const { stargazers_count: startCount = 0, forks_count: forkCount = 0 } =
  data || { stargazers_count: 0, forks_count: 0 };
---

<starAndFork class="shortcut flex">
  <Button 
    size="large"
    class="rounded-3xl mr-4"
    href="https://github.com/alibaba/nacos"
    target="_blank"
  >
    <Star />
    <span class="text-[0.875rem] leading-4 ml-2">{startCount}</span>
  </Button>

  <Button 
    size="large"
    type="primary"
    class="rounded-3xl"
    href="https://github.com/alibaba/nacos/fork"
    target="_blank"
  >
    <Fork theme="light" />
    <span class="ml-2">{forkCount}</span>
  </Button>
</starAndFork>

<script>
  class StarAndFork extends HTMLElement {
    constructor() {
      super();
    }
  }
  customElements.define("starAndFork", StarAndFork);
</script>
  