@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: bold;
src: url('/fonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: url('/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 500;
src: url('/fonts/Roboto-MediumItalic.ttf') format('truetype');
}



@font-face {
  font-family: 'SourceHanSans';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SourceHanSansSC-Normal-Min.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceHanSans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/SourceHanSansSC-Medium-Min.ttf') format('truetype');
}



@font-face {
  font-family: 'SourceHanSans';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SourceHanSansSC-Bold-Min.ttf') format('truetype');
}


