---
import "@style/global.css";
import "@style/fonts.css";
import Button from "./LinkButton.astro";
import { useTranslations } from "@i18n/util";
const t = useTranslations(Astro);
---

<html lang={Astro.props.lang} data-theme="light">
    <head>
        <meta charset="utf-8" />
        <meta name="referrer" content="no-referrer" />
        <meta name="generator" content={Astro.generator} />
        <title>lock</title>
        <link
            data-rh="true"
            rel="icon"
            href="https://img.alicdn.com/tfs/TB1hgJpHAPoK1RjSZKbXXX1IXXa-64-64.png"
        />
    </head>
    <body>
        <div class="ebook-div">
            <div class="container w-full">
                <div class="content">
                    <p class="text-gray-01 text-3xl">
                        {t("commmon.ebook.click.download")}<br />
                        {t("commmon.ebook.complete.get")}<br />
                        {t("commmon.ebook.enjoy.read")}
                    </p>
                    <Button
                        title={t("commmon.ebook.click.download")}
                        href="https://developer.aliyun.com/ebook/36?spm=a2c6h.20345107.ebook-index.18.152c2984fsi5ST"
                    />
                </div>
            </div>
        </div>
    </body>
</html>

<style is:global>
    .ebook-div {
        .container {
            background-image: url("https://img.alicdn.com/imgextra/i1/O1CN013hvJlN1pvKNo31b1W_!!6000000005422-0-tps-1600-800.jpg");
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 3rem;
            height: 400px;

            p {
                line-height: 3rem;
                margin: 1.75rem 0;
            }
        }

        @media (max-width: 50rem) {
            .container {
                height: 200px;
                padding-left: 1.5rem;
                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    margin: 1rem 0;
                }
            }
        }
    }
</style>
