---

interface Props {
  href?: string;
  class?: string;
  target?: '_self' | '_blank' | string;
  icon?: 'arrow' | 'triangle';
  visibility?: 'hover' | 'none' | 'fixed';
}

const { href, target = '_self', class: className = '', visibility = 'hover', icon = 'arrow' } = Astro.props;

---

<a 
  href={href} 
  target={target}
  class={'link-text-wrapper cursor-pointer no-underline flex items-center w-fit ' + className}
>
  <slot></slot>
  {
    visibility !== 'none' ? (
      <slot name="icon" class={`${visibility === 'hover' ? 'link-icon ' : ''} ml-2`}>
        {
          icon === 'arrow' ? (
            <svg 
              fill="none" 
              version="1.1" 
              width="8" 
              height="8" 
              viewBox="0 0 8 8"
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              class={`${visibility === 'hover' ? 'link-icon ' : ''} ml-2`} 
            >
              <g transform="matrix(-1,0,0,1,16,0)"><path d="M9.27237,2.16302L9.27237,6.99801Q9.27237,7.26839,9.08915,7.45161Q8.905925,7.63483,8.636183,7.6342Q8.365805,7.6342,8.183221,7.45097Q8.000636137,7.26775,8,6.99801L8,0.636183Q8,0.365805,8.183221,0.183221Q8.366441,0.000636364,8.636183,0L14.99801,0Q15.26839,0,15.451609999999999,0.183221Q15.634830000000001,0.366441,15.63419,0.636183Q15.63419,0.906561,15.45097,1.08978Q15.26775,1.273,14.99801,1.27237L10.16302,1.27237L15.825050000000001,6.93439Q16,7.10935,16,7.37972Q16,7.6501,15.825050000000001,7.82505Q15.6501,8,15.379719999999999,8Q15.10935,8,14.93439,7.82505L9.27237,2.16302Z" fill="#EBECEF" fill-opacity="1"/></g>
            </svg>
          ) : (
            <svg
              width="12"
              height="12"
              viewBox="0 0 9 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class={`${visibility === 'hover' ? 'link-icon ' : ''} ml-2`}
              >
                <path d="M1 1L7 7L1 13" stroke="#A3A6B3" stroke-width="2"></path>
            </svg>
          )
        }
      </slot>
    ) : null
  }
</a>

<style is:global>
 .link-text-wrapper .link-icon {
    width: 0;
    opacity: 0;
    transition: transform 0.5s ease, width 0.3s ease, opacity 0.3s ease;
 }

 .link-text-wrapper:hover .link-icon {
    transform: translate(3px, 0px);
    opacity: 1;
    width: 8px;
  }
</style>
