@import '../../variables.scss';

.slider {
  overflow: hidden;
  .slider-list {
    overflow: visible;
    .slider-screen {
      display: inline-flex;
      justify-content: space-around;
      overflow: hidden;
    }
  }
  .slider-control {
    text-align: center;
    margin-top: 30px;
    .slider-control-item {
      cursor: pointer;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 4px;
      background: #ccc;
      &-active {
        width: 12px;
        height: 12px;
        background: #1161f6;
      }
    }
  }
}